<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticias</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		</head>
	<body>

		<h1>Noticias</h1>

		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<td> # </td>
					<td> Titulo </td>
					<td> <i class="fas fa-cogs"></i> </td>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < noticias.length; i++){ %>
				<tr>
					<div class="row">
						<div class="col-md-4">
							<td> <%= noticias[i].id %> </td>
						</div>
						<div class="col-md-4">
							<td> <%= noticias[i].titulo%> </td>
						</div>
						<div class="col-md-4">
							<td> <button type="submit" class="btn btn-primary"> <i class="far fa-eye"></i> </button> </td>
						</div>
					</div>
				</tr>
				<% } %>
			</tbody>
		</table>
<script src="https://kit.fontawesome.com/3931c7733f.js"></script>
	</body>
</html>