<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticia</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		</head>
	<body>

		<h1>Noticias</h1>

		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<td> # </td>
					<td> Titulo </td>
					<td> Noticia </td>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<td> <%= noticia[0].id %> </td>
					<td> <%= noticia[0].titulo%> </td>
					<td> <%= noticia[0].noticia%> </td>
				</tr>
				
			</tbody>
		</table>

	</body>
</html>